
@{
    ViewBag.Title = "VehicleRequestConfirmeds";
}


<div class="mt-5 col-11" style="height:100%">
    <p class="h1">درخواست های تایید شده</p>
    <table class="table table-striped table-hover" id="vehicle-request-confirmeds-by-secretary-tbl-secretary">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ای دی درخواست</th>
            </tr>
        </thead>
        <tbody>
            @*data will apear*@
        </tbody>
    </table>
</div>

