@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="d-flex flex-row bd-highlight mb-3 justify-content-evenly">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/test.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">محصول 1</h5>
                <p class="card-text">متن ازمایشی برای پر کردن فضا</p>
                <a href="#" class="btn btn-primary">ادامه</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/Images/test.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">محصول 2</h5>
                <p class="card-text">متن ازمایشی برای پر کردن فضا</p>
                <a href="#" class="btn btn-primary">ادامه</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/Images/test.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">محصول 3</h5>
                <p class="card-text">متن ازمایشی برای پر کردن فضا</p>
                <a href="#" class="btn btn-primary">ادامه</a>
            </div>
        </div>
    </div>
</div>